<section class="nav">
  <ul>
    <li><a href="/"><img src="/assets/imgs/house.svg" alt="">home</a></li>
    <li><a href="/veldverkenner"><img src="/assets/imgs/map.svg" alt="">veldverkenner</a></li>
    <li><a href="/nieuws"><img src="/assets/imgs/newspaper.svg" alt="">nieuws</a></li>
    <li><a href="/collectie"><img src="/assets/imgs/flower.svg" alt="">collectie</a></li>
  </ul>
</section>

</body>
</html>