{% render 'partials/head.liquid' %}

<header class="mobileHeader">
<h1>nieuws</h1>
    <ul class="filterHeader">
    <li><a class="filterButton" href="/laatste">laatste</a></li>
    <li><a class="filterButton" href="/inbloei">in de bloei</a></li>
    <li><a class="filterButton" href="/nabloei">na de bloei</a></li>
  </ul>
</header>

<main>

<ul class="collectionArticles-nieuws">
  
    {% for news in news %}
      
      <a href="/artikel/{{ news.slug }}">
        <li>
          <img src="https://fdnd-agency.directus.app/assets/{{ news.image }}" height="50" width="75" alt="plant">
          <h4>{{ news.title | truncate: 25 }}</h4>
        </li>
      </a>
      
    {% endfor %}

</section>
</main>


{% render 'partials/foot.liquid' %}