* {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 1em;
    margin-bottom: 100px;
    height: fit-content;

    padding-right: 1em;
    padding-left: 1em;
}

/* @media screen and (prefers-color-scheme: dark){ 
    body { 
        background-color: black; 
        color: white;
    }

    article.articlePreview-home {
        h4{
        color: black;
        }
    }

    section.collectionInfoHome {
        color: black;
    }

    h4 {
        color: white;
    }

    article.suggestie {
        h4 {
            color: black;
        }
    }
 }
 */



li {
    list-style: none;
}

header {
    display: flex;
    height: 100px;
    width: auto;
    justify-content: center;
    align-content: center;
}

.mobileHeader {
    place-content: start space-evenly;
}

/* de filter in de header */
.filterButton {
    padding: 0.3em;
    background: var(--background-color-2);
    border-radius: 0.3em;
}

.filterHeader {
    width: 100vw;
    height: fit-content;
    top: 100px;
    gap: 1em;
    top: 4em;
    place-content: center;
    position: absolute;
    display: flex;
}

/* einde filterheader */


/* KNOPCLASSES */
/* statische knop op zelfde plek altijd. nog stijlen */
.knop {
    position: absolute;

    img {
        height: 3em;
        width: 3em;
    }
}

/* knop naar de suggestions page */
.suggesties {
    right: 1em;
    top: 1em;
}

.terug {
    left: 1em;
    top: 1em;
}

.toevoegen {
    position: fixed;
    right: 1em;
    bottom: 6em;

    img {
        height: 5em;
        width: 5em;
    }
}

/* ///////// */


/* footer met mobileNav */
.nav {
    position: fixed;
    bottom: 0;
    place-content: center;
    width: 100vw;
    height: 100px;
    background: var(--background-color-2);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;

        img {
            width: 2em;
        }

        a {
            display: grid;
            justify-items: center;
            font-size: var(--font-size-xxs);
        }
    }
}

/* einde mobileNav */


/* bloemenveld collectie gedeelte */
.collectionInfoHome {
    background: var(--background-color-4);
    margin: 1em;
    padding: 1em;
    border-radius: var(--border-radius-1);
}

/* ////////////////////// */



/* de ul class van de artikelen op de homepage */
.collectionArticles-home {
    padding: 1em 0 1em 1em;
    display: flex;
    display: flex;
    gap: 1em;
    overflow-x: scroll;



    /* tag van de article preview */
    .tag {
        align-self: flex-start;
        font-size: var(--font-size-xxs);
        font-weight: bolder;
        background: var(--background-color-5);
        padding: 4px 10px;
        border-radius: 20px;
    }

    /* de li styling van de artikelen op de homepage */
    li {
        background: var(--background-color-2);
        color: var(--text-color-2);
        padding: 1em;
        border-radius: 1em;
        width: 250px;



        h4 {
            padding-bottom: 1em;
            padding-top: 0.5em;
            font-size: var(--font-size-s);
            text-wrap: nowrap;
        }

        img {
            width: 250px;
            height: 180px;
            object-fit: cover;
        }
    }
}

/* li class voor clean loading animatie */
.loading-animation {
animation: fade-in 0.5s backwards;
animation-delay: calc(100ms * sibling-index());
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
/* /////////////////////////////// */

/* de ul class van de artikelen op de nieuwspage */
.collectionArticles-nieuws {
    display: flex;
    flex-direction: column;

    /* de li styling van de artikelen op de nieuwspage */
    li {
        display: flex;
        background: transparent;
        border-top: solid;
        border-radius: 0;
        padding: 1em;
        gap: 1em;

        h4 {
            padding-bottom: 0;
            font-size: var(--font-size-s);
        }

        img {
            object-fit: cover;
            height: 50px;
            place-self: center;
        }
    }
}


/* detailpagina nieuwsbericht */
.artikel {
    border-radius: var(--border-radius-1);
    padding: 1em;

    img {
        object-fit: cover;
        width: 100%;
    }

    h1 {
        font-size: var(--font-size-l);
        padding-bottom: 0.5em;
    }

    p {
        font-size: var(--font-size-s);
    }
}


/* ul styling van de suggesties op de suggesties pagina */
.collectionSuggesties {
    flex-direction: row;
    margin-bottom: 13em;

    /* li styling van de suggesties op de suggesties pagina */
    li {
        display: flex;
        padding: 1em;
        border-radius: 1em;
        margin-bottom: 1em;
        background: var(--background-color-2);
        justify-content: space-between;
    }

    /* de votes section */
    section {
        display: flex;
    }

    /* vote emoji's */
    p {
        width: fit-content;
    }
}

/* sectionclass van de jouw-suggestie page */
form.form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-self: center;
    gap: 0.5em;

    input {
        width: 250px;
        padding: 0.5em;
        border: solid 0.1em lightslategray;
        border-radius: 5em;
        border-style: default;
        align-self: center;
    }

    label {
        align-self: start center;
    }

    input.button {
        width: 100px;
        justify-self: end center;
        border: none;
    }
}

/* form success-state */
.button.verstuur.active {
    background: var(--background-color-1);
    color: var(--text-color-1);
}

/* de image voor de 404 page */
.error-img {
    width: 80vw;
    justify-self: center;
}